[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
motor = "*"
dotenv = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
httpx = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
